/* Adapt this file to the colors you want for your categories */
.category_1
{
	background-color:	#dff0df;
}
.category_2
{
	background-color:	#d5e3d5;
}
.category_3
{
	background-color:	#badaba;
}
.category_4
{
	background-color:	#8ada8a;
}
.category_5
{
	background-color:	#5fdd5f;
}
.category_6 
{
	background-color:	#00e000;
}
.category_7 
{
	background-color:	#da4a4a;
}
.category_8 
{
	background-color:	#da8a8a;
}
