	.h_pinp_block {
		background-color: white;
	}
	.h_pinp {
		color: #9400D3;
	}
	.h_special_char {
		color: darkcyan;
	}
	.h_operator {
		color: 	#cc0000;
	}
	.h_doublequote {
		color: #cc0000;
	}
	.h_singlequote {
		color: #cc0000;
	}
	.h_var {
		color: #000080;
	}
	.h_ident {
		color: #000000;
	}
	.h_single_comments {
		color:		#ff9900;
	}
	.h_blockcomment {
		color: 		#ff9900;
	}
	.h_script_block {
		background-color: #FFFFFF;
	}
	.h_script {
		color: #0000cc;
	}
  .h_smartymarkers {
    color: darkblue;
  }
  .h_smartykeywords1 {
    color: #006600;
    /*font-weight:bold;*/
  }
  .h_smartykeywords2 {
    color: #9400D3;
    /*font-weight:bold;*/
  }
  .h_smartykeywords3 {
    color: #9400D3;
    /*font-weight:bold;*/
  }
  .h_smartytag {
    background-color: white;
  }
  .h_phpkeywords1 {
		color: 		#006600;
    /*font-weight:bold;*/
  }
  .h_phpkeywords2 {
		color: #9400D3;
    /*font-weight:bold;*/
  }
