#lightbox
{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
}

#lightboxDetails
{
	font-size: 0.8em;
	padding-top: 0.4em;
}

#lightboxCaption
{
	float: left;
}

#keyboardMsg
{
	float: right;
}

#closeButton
{
	top: 5px;
	right: 5px;
}

#lightbox img
{
	border: none;
	clear: both;
}

#overlay img
{
	border: none;
}

#overlay
{
	background-image: url(../images/lb_overlay.png);
}

* html #overlay
{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(../images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/lb_overlay.png", sizingMethod="scale");
}

kbd
{
	background-color:#DDDDDD;
	border-bottom:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	color:#555555;
	font-family:inherit;
	font-size:inherit;
	padding:0pt 3px 2px 4px;
}
