.active_tab
{
	color:#000000;
	background-color:#D3DCE3;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : Black;
	border-left-width : 1px;
	border-left-style : solid;
	border-left-color : Black;
	border-right-width : 1px;
	border-right-style : solid;
	border-right-color : Black;
}
.inactive_tab
{
	color:#000000;
	background-color:#E8F0F0;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : Black;
}