table.container
{
	border-collapse: collapse;
	padding: 0px;
	border: 0px;
	width: 100%;
}

table.container tr
{
	vertical-align: top;
}

table.content_table
{
    color: black;
    border-style: solid;
    border-width: 0px;
    border-collapse: collapse;
    border-color: #bbbbbb;
    font-family: Arial;
    font-size: 13px;
}

table.content_table th
{
    background-color: #CCCCCC;
}

table.content_table tr
{
    background-color: #ffffff;
    border-bottom: 1px solid #cfcfcf;
}

table.content_table tr.selected
{
	background-color: #FFFFEF;
}

button.ok
{
	font-size: 8px;
	height: 17px;
}

p.ajax_message
{
	color: #999;
	font-style: italic;
}
