body
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

span.employee
{
	margin: 0px;
}

span.employeesupervisor
{
	margin: 0px;
	font-weight: bold;	
}

div.area h1
{
	margin: 10px 0px 0px 0px;
	font-size: 20px;
}

h1.organizationName
{
	font-size: 22px;
	margin: 0px 0px 20px 0px;
	text-align: center;
}

span.telephoneNumber
{
	margin: 50px;
}