.priority_1
{
	background-color:	#dadada;
}
.priority_2
{
	background-color:	#dacaca;
}
.priority_3
{
	background-color:	#dababa;
}
.priority_4
{
	background-color:	#daaaaa;
}
.priority_5
{
	background-color:	#da9a9a;
}
.priority_6
{
	background-color:	#da8a8a;
}
.priority_7
{
	background-color:	#da7a7a;
}
.priority_8
{
	background-color:	#da6a6a;
}
.priority_9
{
	background-color:	#da5a5a;
}
.priority_10
{
	background-color:	#da4a4a;
}
