ul
{
	list-style-image: url("../images/orange-ball.png");
}

.grid_email_class
{
	border-bottom:1px solid #cfcfcf;
}
.selected_shortcut_msg {
	color:	white	!important;
	background-color: #C3390B !important;
}

body 
{
	margin: 0px !important;
	color: gray !important;
	background-color:#380E00 !important;
	font-size: 11px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	padding:0px !important;
}

img
{
	border-width:0px !important;
	border-style:none !important;
	/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader;
*/
}

a:link,a:visited
{
	cursor:pointer !important;
	color: lightGrey !important;
	text-decoration: none !important;
}

/*
a:visited 
{
	color: #006699; 
	text-decoration: none;
}
*/
a:hover,a:active
{
	cursor:pointer !important;
	color: #ff9933 !important;
	text-decoration: underline !important;
}
/*
a:active 
{
	color: #006699; 
	text-decoration: underline;
}
*/
input,button
{
	font-size: 11px !important; 
	color: #006699 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	border: 1px #bbbbbb solid !important;
}
input.em_button_like_span {
	color:#886633 !important;
}
input[type=submit],input[type=button],button
{
	margin:1px !important;
	padding:1px !important;
	cursor: pointer !important; 
	cursor: hand !important;
}

input[type=image]
{
	cursor: pointer !important; 
	cursor: hand !important;
	border: 0px #bbbbbb none !important;
}
select 
{
	font-size: 11px !important; 
	color: white !important; 
	background-color:#380E00 !important;
	font-family: Arial, Helvetica, sans-serif !important;
	border: 1px #bbbbbb solid !important;
	z-index: -1 !important;
}

td
{
	font-size: 11px !important;
	/*text-align:left;*/
	/*	padding-top:1px;
	padding-bottom:1px;*/
}

.divLoginbox 
{
	position:relative;
	width: 300px; 
	border-right: #9c9c9c 1px solid; 
	border-top: #9c9c9c 1px solid; 
	border-left: #9c9c9c 1px solid; 
	border-bottom: #9c9c9c 1px solid
}

.divLoginboxHeader 
{
	text-align:center;
	background-color:#dddddd;
	padding-top:2px;
	font-size:10px;
	color:#666666;
}
.divSidebox 
{
	position:relative;
	width: 147px; 
	border-right: #9c9c9c 1px solid; 
	border-top: #9c9c9c 1px solid; 
	border-left: #9c9c9c 1px solid; 
	border-bottom: #9c9c9c 1px solid
}

.tblHeadApp {

	border-right: #9c9c9c 1px solid; 	
	border-top: #9c9c9c 1px solid; 
	border-left: #9c9c9c 1px solid; 
	border-bottom: #9c9c9c 1px solid
}

.divSideboxHeader 
{
	text-align:center;
	background-color:#000066;
	padding-top:2px;
	height: 15px;
	color: #FFFFFF;

}

a.divSideboxEntry, .divSideboxEntry
{
	text-align:left;
	height:16px;
	background-color:#eeeeee;
}

a.appTitles,.appTitles
{
	font-size: 10px; 
	height:18px;
	padding-top:2px;
	padding-bottom:2px;

}

a.textSidebox
{
	font-size: 10px; 
	border-top: #aaaaaa 0px none;
}

.textSidebox
{
	font-size: 10px; 
	height:18px;
	padding-top:2px;
	padding-bottom:2px;
	border-top: #aaaaaa 1px solid;

}

.sideboxSpace
{
	height:9px;
}

.dsused
{
                background-image: url(../images/dsused.gif);
}

.greyLine
{
	margin:1px;
	border-top-color:#7e7e7e;
	border-top-width:1px;
	border-top-style:solid;
	height:1px;
}

.prefSection
{
	font-weight:bold;
	font-size:16px;
	line-height:40px;
}

#extraIcons
{
/*	position:absolute;
	z-index:13;
	right:10px;
	top:113px;
	visibility:hidden;*/
/*	background-image:url(../images/alpha-white.png);*/
	background-color:#eeeeee;
	border-width:1px;
	border-color:#7e7e7e;
	border-style:solid;
}

.extraIconsRow
{
	border-top-color:#dddddd;
	border-top-width:1px;
	border-top-style:solid;
	padding:2px;
}

#divMain
{
	background-color:white;
	margin-top: 0px;
	padding:9px;
	border-color:#7e7e7e;
	border-width:1px;
	border-style:solid;
}

#divLogo
{
	position:absolute;
	left:20px;
	top:5px;
	z-index:51;
}

#divAppIconBar
{
	background-color:white;
	border-top-color:#9c9c9c;
	border-top-width:1px;
	border-top-style:solid;
	background-image: url(../images/background-icon-bar.png); 
	background-repeat: repeat-x
}

#divAppTextBar
{
	background-color:white;
}

#user_info
{
	color: black;
}
#links_bar
{
	        color: black;
}

#divStatusBar
{
	height:24px;
	padding-left:10px;
	padding-top:0px;
}

/*#divSubContainer
{
}
*/
#tdSidebox
{
	width:170px;
	background-color:white;
	overflow:visible;
}

#tdAppbox
{
	width: 100%;
}
#divSideboxContainer
{
	position:relative;
	width:150px;
	top:0px;
	left:0px;
	background-color:white;
	border-width:1px;
	border-style:solid;
	z-index:40;
}
.divAppboxHeader,
#divAppboxHeader
{
	margin-top:2px;
	margin-left:2px;
	margin-right:2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white !important;
	border: 0 !important;
	text-align: center;
	padding: 0px;
	background-color: #380E00;
	height:24px;
	line-height:24px;
	border-top-color:#9c9c9c;
	border-top-width:1px;
	border-top-style:solid;
	border-left-color:#9c9c9c;
	border-left-width:1px;
	border-left-style:solid;
	border-right-color:#9c9c9c;
	border-right-width:1px;
	border-right-style:solid;
}

#divAppbox
{
	background-color: #380E00;
	padding-right:1px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:15px;
	border-bottom-color:#9c9c9c;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-left-color:#9c9c9c;
	border-left-width:1px;
	border-left-style:solid;
	border-right-color:#9c9c9c;
	border-right-width:1px;
	border-right-style:solid;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:2px;
	margin-right:2px;

}

#user_info
{
padding-left:17px;

}

#admin_info
{
	position:relative;
	text-align:center;
	margin-right:10px;
}

#divGenTime
{
	bottom:14px;
	font-size: 9px;
	color: #ff0000;
	text-align:center;
	width:99%;
}

#divPoweredBy 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: none;
	padding: 7px;
	text-align: center;
	background-color:white;
}
.navbar_but
{
        background-image: url(../../../../phpgwapi/templates/default/images/back_app_fozi.png) !important;
        width: 40px;
        height: 40px;
        vertical-align: center;
        text-align: center;
        padding-right: 6px;
        cursor:pointer;
        cursor:hand;
        background-repeat:no-repeat;
}

.navbar_butOver
{
        background-image: url(../../../../phpgwapi/templates/default/images/back_app_over_canyon.png) !important;
        width: 40px;
        height: 40px;
        vertical-align: center !important;
        text-align: center !important;
        padding-right:6px;
        cursor:pointer;
        cursor:hand;
        background-repeat:no-repeat;
}

.navbar_butOut
{
        background-image: url(../../../../phpgwapi/templates/default/images/back_app_out_canyon.png) !important;
        width: 40px;
        height: 40px;
        vertical-align: center !important;
        text-align: center !important;
        padding-right:6px;
        cursor:pointer;
        cursor:hand;
        background-repeat:no-repeat;
}

.toolbar
{
        background-image:url(../../../../phpgwapi/templates/default/images/fundo_topo_araucaria.jpg) !important;
        position:absolute;
}

.logo_expresso
{
        background:url(../../../../phpgwapi/templates/default/images/logo_expresso_metropole.png) no-repeat !important;
        width: 264px;
        height: 35px;
}

.content-menu {
        padding: 0px 0px 0px 0px !important;
        background: #fff !important;
}

.image-menu {
        padding: 0px 0px 0px 0px !important;
        background: #eb5c16 url(../../../../phpgwapi/templates/default/images/folder_bg_araucaria.jpg) no-repeat scroll center bottom !important;
}

.menu-degrade {
          background-image: url(../../../../phpgwapi/templates/default/images/degrade.png) !important;
          background-repeat: repeat-x;
}

.navbar_butOut
{
        background-image: url(../../../../phpgwapi/templates/default/images/back_app_out_canyon.png) !important;
        width: 40px;
        height: 40px;
        vertical-align: center !important;
        text-align: center !important;
        padding-right:6px;
        cursor:pointer;
        cursor:hand;
        background-repeat:no-repeat;
}

.toolbar
{
        background-image:url(../../../../phpgwapi/templates/default/images/fundo_topo_canyon.png);
        position:absolute;
}

.logo_expresso
{
        background:url(../../../../phpgwapi/templates/default/images/logo_expresso_canyon.png) no-repeat;
        width: 264px;
        height: 35px;
}

table.inboxElements th,
.table_elements_tr_header,
.info_tr_header,
.message_header{
        background-color: #E57100  !important;
}

.menu 
{ 
	text-decoration: none; 
	text-align: center; 
	height: 20px;     
	/*background-color:#a19183 !important;*/
	background-color:#c8d7ea; 
	margin-bottom: 0px; 
	border: 1px solid #f4f7fc; 
	border-bottom: 1px solid #4a79b1; 
	padding:0px 5px 0px 0px; 
	-moz-border-radius: 9px 9px 0px 0px; 
	-moz-user-select: none; 
	cursor: pointer; 
} 

.menu-sel 
{ 
	text-decoration: none;
	text-align: center;
	font: bold 13px Lucidatypewriter,monospace;
	color:#0000FF;
	height: 20px;
	background-color:#F7F7F7;
	margin-bottom: 0px;
	border: 1px solid #4a79b1;
	border-color: #A19183 !important;
	border-bottom: 0px;
	padding:0px 5px 0px 0px;
	-moz-border-radius: 9px 9px 0px 0px;
	-moz-user-select: none;
	cursor: pointer;
}

.tr_message_header,
.table_message{	
        background: #380E00 !important;
}

.message_options {
	color: #FFF !important;
}

.tr_msg_unread
{
	background-color:#EEEEE0 !important;
	color: black !important;
}

.linha0,
.linha1,
.tr_msg_read,
.tr_msg_read2 {
	color: #3f3f3f;
	background-color: #ffffff;
	-moz-user-select: none;
}

.linha1,
.tr_msg_read2 {
	color: #3f3f3f;
	background-color: #e7d4c1;
}


.conteudo { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: normal; 
	color: #000033; 
	padding: 2px; 
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #4A79B1;
	width:99.5%; 
	overflow: none; 
	-moz-border-radius: 0px 0px 6px 6px; 
} 

.whiteSpace{ 
	width: 2px; 
} 

.last_menu 
{ 
	border-bottom: 1px solid #4a79b1; 
	-moz-border-radius: 0px 0px 0px 0px; 
} 
