ul
{
	list-style-image: url("../images/orange-ball.png");
}

.grid_email_class
{
	border-bottom:1px solid #cfcfcf;
}

body 
{
	margin: 0px !important;
	background-color:#E9E9E9 !important;
	font-size: 11px !important;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	padding:0px !important;
}

img
{
	border-width:0px !important;
	border-style:none !important;
	/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader;
*/
}

a:link,a:visited
{
	cursor:pointer !important;
	color: #000066 !important;
	text-decoration: none !important;
}

/*
a:visited 
{
	color: #006699; 
	text-decoration: none;
}
*/
a:hover,a:active
{
	cursor:pointer !important;
	color: #ff9933 !important;
	text-decoration: underline !important;
}
/*
a:active 
{
	color: #006699; 
	text-decoration: underline;
}
*/
input,button
{
	font-size: 11px !important; 
	color: #006699 !important; 
	font-family: Arial, Helvetica, sans-serif !important;
	border: 1px #bbbbbb solid !important;
}

input[type=submit],input[type=button],button
{
	margin:1px !important;
	padding:1px !important;
	cursor: pointer !important; 
	cursor: hand !important;
}

input[type=image]
{
	cursor: pointer !important; 
	cursor: hand !important;
	border: 0px #bbbbbb none !important;
}
select 
{
	font-size: 11px !important; 
	color: #000066 !important; 
	font-family: Arial, Helvetica, sans-serif !important;
	border: 1px #bbbbbb solid !important;
	z-index: -1 !important;
}

td
{
	font-size: 11px !important;
	/*text-align:left;*/
	/*	padding-top:1px;
	padding-bottom:1px;*/
}

.divLoginbox 
{
	position:relative;
	width: 300px; 
	border-right: #9c9c9c 1px solid; 
	border-top: #9c9c9c 1px solid; 
	border-left: #9c9c9c 1px solid; 
	border-bottom: #9c9c9c 1px solid
}

.divLoginboxHeader 
{
	text-align:center;
	background-color:#dddddd;
	padding-top:2px;
	font-size:10px;
	color:#666666;
}
.divSidebox 
{
	position:relative;
	width: 147px; 
	border-right: #9c9c9c 1px solid; 
	border-top: #9c9c9c 1px solid; 
	border-left: #9c9c9c 1px solid; 
	border-bottom: #9c9c9c 1px solid
}

.tblHeadApp {

	border-right: #9c9c9c 1px solid; 	
	border-top: #9c9c9c 1px solid; 
	border-left: #9c9c9c 1px solid; 
	border-bottom: #9c9c9c 1px solid
}

.divSideboxHeader 
{
	text-align:center;
	background-color:#000066;
	padding-top:2px;
	height: 15px;
	color: #FFFFFF;

}

a.divSideboxEntry, .divSideboxEntry
{
	text-align:left;
	height:16px;
	background-color:#eeeeee;
}

a.appTitles,.appTitles
{
	font-size: 10px; 
	height:18px;
	padding-top:2px;
	padding-bottom:2px;

}

a.textSidebox
{
	font-size: 10px; 
	border-top: #aaaaaa 0px none;
}

.textSidebox
{
	font-size: 10px; 
	height:18px;
	padding-top:2px;
	padding-bottom:2px;
	border-top: #aaaaaa 1px solid;

}

.sideboxSpace
{
	height:9px;
}

.greyLine
{
	margin:1px;
	border-top-color:#7e7e7e;
	border-top-width:1px;
	border-top-style:solid;
	height:1px;
}

.prefSection
{
	font-weight:bold;
	font-size:16px;
	line-height:40px;
}

#extraIcons
{
/*	position:absolute;
	z-index:13;
	right:10px;
	top:113px;
	visibility:hidden;*/
/*	background-image:url(../images/alpha-white.png);*/
	background-color:#eeeeee;
	border-width:1px;
	border-color:#7e7e7e;
	border-style:solid;
}

.extraIconsRow
{
	border-top-color:#dddddd;
	border-top-width:1px;
	border-top-style:solid;
	padding:2px;
}

#divMain
{
	background-color:white;
	margin-top: 0px;
	padding:9px;
	border-color:#7e7e7e;
	border-width:1px;
	border-style:solid;
}

#divLogo
{
	position:absolute;
	left:20px;
	top:5px;
	z-index:51;
}

#divAppIconBar
{
	background-color:white;
	border-top-color:#9c9c9c;
	border-top-width:1px;
	border-top-style:solid;
	background-image: url(../images/background-icon-bar.png); 
	background-repeat: repeat-x
}

#divAppTextBar
{
	background-color:white;
}

#divStatusBar
{
	background-color:#f7f8fa;
	height:15px;
	padding-left:10px;
	padding-top:0px;
}

/*#divSubContainer
{
}
*/
#tdSidebox
{
	width:170px;
	background-color:white;
	overflow:visible;
}


#tdAppbox
{
	background-color:white;
	width: 100%;
}
#divSideboxContainer
{
	position:relative;
	width:150px;
	top:0px;
	left:0px;
	background-color:white;
	border-width:1px;
	border-style:solid;
	z-index:40;
}

#divAppboxHeader
{
	margin-top:2px;
	margin-left:2px;
	margin-right:2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000066;
	text-align: center;
	padding: 0px;	
	background-image:url(../images/appbox-header-background21.png);
	background-repeat: repeat-x;
	height:24px;
	line-height:24px;
	border-top-color:#9c9c9c;
	border-top-width:1px;
	border-top-style:solid;
	border-left-color:#9c9c9c;
	border-left-width:1px;
	border-left-style:solid;
	border-right-color:#9c9c9c;
	border-right-width:1px;
	border-right-style:solid;
}

#divAppbox
{
	background-color:#f7f7f7;
	padding-right:1px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:15px;
	border-bottom-color:#9c9c9c;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-left-color:#9c9c9c;
	border-left-width:1px;
	border-left-style:solid;
	border-right-color:#9c9c9c;
	border-right-width:1px;
	border-right-style:solid;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:2px;
	margin-right:2px;

}

#fmStatusBar
{
	margin-left:4px;
	margin-bottom:3px;
	font-size: 10px; 
/*	font-family: Verdana, Arial, Helvetica, sans-serif;*/
	

}


#user_info
{
padding-left:17px;

}

#admin_info
{
	position:relative;
	text-align:center;
	margin-right:10px;
}

#divGenTime
{
	bottom:14px;
	font-size: 9px;
	color: #ff0000;
	text-align:center;
	width:99%;
}

#divPoweredBy 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: none;
	padding: 7px;
	text-align: center;
	background-color:white;
}

.toolbar
{
       background-image:url(../../../../phpgwapi/templates/default/images/fundo_topo.gif);
       position:absolute;
}

.logo_expresso
{

	background:transparent url(../../../../phpgwapi/templates/default/images/logo_expresso_classic.png) no-repeat scroll right 0px;
	right:0px;
	position:absolute;
	width:191px;
}

.navbar_but
{
        background-image: url(../../../../phpgwapi/templates/default/images/back_app_classic.png) !important;
        width: 40px !important;
        height: 40px !important;
        padding: 0 19px 0 13px !important;
        vertical-align: center !important;
        text-align: center !important;
}

.navbar_butOver
{
        background-image: url(../../../../phpgwapi/templates/default/images/back_app_classic.png) !important;
        width: 40px !important;
        height: 40px !important;
        vertical-align: center !important;
        text-align: center !important;
	padding: 0 19px 0 13px !important;

}

.navbar_butOut
{
        background-image: url(../../../../phpgwapi/templates/default/images/back_app_classic.png) !important;
        width: 40px !important;
        height: 40px !important;
        vertical-align: center !important;
        text-align: center !important;
        padding: 0 19px 0 13px !important;


}
#expressoAdmin12id,
#adminid,
#homeid,
#contactcenterid,
#expressoMail12id,
#newsadminid,
#calendarid,
#jabberitmessengerid,
#logout_id
{
	width: 32px !important;
	height: 32px !important;

}

table.inboxElements th,
.table_elements_tr_header,
.info_tr_header,
.message_header{
        background-color: #CCCCCC !important;
}

.table_message_header_box{
        width: 100% !important;
        color: black !important;
        border-style: solid !important;
        border-width: 0px !important;
        border-collapse: collapse !important;
        border-color: #bbbbbb !important;
        font-family: Arial !important;
        font-size: 13px !important;
        cursor: pointer !important;
}
.font-menu
{
    text-decoration: none !important;
    text-align: center !important;
    font: bold 13px Lucidatypewriter,monospace !important;
    color: #505050 !important;
}
.font-menu-sel
{
    text-decoration: none !important;
    text-align: center !important;
    font: bold 11px Lucidatypewriter,monospace !important;
    color:#0000FF !important;
}

.menu-sel
{
    text-decoration: none !important;
    text-align: center !important;
    font: bold 11px Lucidatypewriter,monospace !important;
    color:#0000FF !important;
    height: 20px !important;
    background-color: #F7F7F7 !important;
    margin-bottom: 0px !important;
    border-left: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    padding:0px 5px 0px 0px !important;
    -moz-border-radius: 9px 9px 0px 0px !important;
    -moz-user-select: none !important;
    cursor: pointer !important;
}

.menu
{
    text-decoration: none !important;
    text-align: center !important;
    color: #505050 !important;
    height: 20px !important;
    background-color:#E5E5E5 !important;
    margin-bottom: 0px !important;
    border-left: 1px solid #c0c0c0 !important;
    border-top: 1px solid #c0c0c0 !important;
    border-right: 1px solid #c0c0c0 !important;
    border-bottom: 1px solid #000000 !important;
    padding:0px 5px 0px 0px !important;
    -moz-border-radius: 9px 9px 0px 0px !important;
    -moz-user-select: none !important;
    cursor: pointer !important;
}

.last_menu
{
        border-bottom: 1px solid #000000 !important;
        -moz-border-radius: 0px 0px 0px 0px !important;
}
.conteudo {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 10px !important;
    font-weight: normal !important;
    color: #000033 !important;
        padding: 1px !important;
    border-color: gray gray gray gray !important;

        border-right: 1px solid #000000 !important;
        border-left: 1px solid #000000 !important;
        border-bottom: 1px solid #000000 !important;
        width:99.5% !important;
    -moz-border-radius: 0px 0px 6px 6px !important;
}

.table_message{
        background-color: #CCCCCC !important;
        padding: 1px !important;
        cursor: default !important;
        border-width: 1px 1px 1px 1px !important;
        border-spacing: 0px 1px !important;
        border-style: outset outset outset outset !important;
        border-color: gray gray gray gray !important;
        border-collapse: separate !important;
        -moz-border-radius: 3px 3px 3px 3px !important;
}

.image-menu {
        padding: 3px 0px 3px 5px !important;
        border-top: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
        border-bottom: 1px solid #000000 !important;
       -moz-border-radius: 9px 9px 9px 9px !important;
}
.content-menu-td {
        border: 1px solid #f7f7f7 !important;
}

.content-menu {
	background: none !important;
	padding: 4px !important;
        width:162px !important;
        border-top: 1px solid #000000 !important;
	border-right: 1px solid #000000 !important;
	border-left: 1px solid #000000 !important;
        border-bottom: 1px solid #000000 !important;
	-moz-border-radius: 9px 9px 9px 9px !important;
        position: relative !important;
        overflow: auto !important;
}

.message_options_trash,
.message_options_import,
.message_options_inactive,
.message_options_export,
.message_options_move,
.message_options_print,
.message_options,
.message_options_over
{
	color:blue !important;
	font-weight: normal !important;
        background-image: none !important;
	padding:0 7 0 0 !important;
}
.l{
        background-image: none !important;
        color: #666666 !important;

}
.sl
{
        background-image: none !important;
	color: blue !important;
}
.image-menu,
.menu-degrade
{
	background-image: none !important;
}

.dsused
{
	background-image: url(../../../../expressoMail1_2/templates/default/images/dsused_classic.gif) !important;
}
.table_message {
	background-image: none !important;
}

.linha0,
.tr_msg_read2,
.tr_msg_read {
-moz-user-select:none !important;
background-color:#FFFFFF !important;
border-bottom:1px solid #CFCFCF !important;
color:black !important;
}
