<table class="fuu" id="message_attacher_grid"><tr><td/></tr></table>
<div id="message_attacher_grid_pager"></div>
<div id="selected_messages_counter">
	<span class="message-size-counter">
		Foram selecionadas <strong id="selected_messages_number">0</strong> mensagens, totalizando <strong id="selected_messages_size"><span>0</span> Bytes</strong> de anexo.
	<span>
</div>