<html>
<head>

  <title>PHP Editor</title>
  <link rel="stylesheet" type="text/css" href="css/editor.css">
  <link rel="stylesheet" type="text/css" href="css/highlighthtml.css">
  <script src="../../js/htmleditor/highlight.js"></script>
  <script src="../../js/phpeditor/editor.js"></script>
</head>
<body onLoad="init();">
<div id='codeframe'>
<div id="linenumbers"></div>
<div id="inputLine">
<textarea id="inputLineEntry" wrap="off"></textarea>
</div>
<div id="content">
<ol id="lines"><li>&nbsp;
</li></ol>
</div>
</div>
</body>
</html>
