<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title><%= '_[[Yearly view]]' %></title>
		<link rel="stylesheet" type="text/css" href="../prototype/plugins/fullcalendar/fullcalendar.css" />
		<link rel="stylesheet" type="text/css" href="../prototype/modules/calendar/css/print.css" />
	</head>
	<body>
		<div class="year_print">
			<div class="title_print"><img src="../prototype/modules/calendar/img/navbar.png"> <%= data.header %></div>
			<div class="year_print_content">
				<%= data.html %>
			</div>
		</div>
	</body>
</html>