<fieldset>
	<fieldset>
		<input type="text"  value=""/>
		<div class="colors-options"></div>
	</fieldset>
    <fieldset class="menu-container footer-container menu-addevent">
		<a class="button cancel" href="#"><%= '_[[Cancel]]' %></a>
	    <a class="button save" href="#"><%= '_[[Save]]' %></a>
    </fieldset>
</fieldset>