<div class="add-simple-task">

	<input type="text" class="task" name="summary" value=""/>
	<textarea name="description" class="task"></textarea>

	<fieldset class="menu-container footer-container menu-addevent">
		<a class="button advanced" href="#">Avançado</a>
		<a class="button cancel" href="#">Cancelar</a>
	    <a class="button save" href="#">Salvar</a>
    </fieldset>

</div>