<div class="add-simple-task">

	<input type="text" class="task" name="summary" value=""/>
	<textarea name="description" class="task"></textarea>

	<fieldset class="menu-container footer-container menu-addevent">
		<a class="button advanced" href="#"><%= '_[[Advanced]]' %></a>
		<a class="button cancel" href="#"><%= '_[[Cancel]]' %></a>
	    <a class="button save" href="#"><%= '_[[Save]]' %></a>
    </fieldset>

</div>