<div class="draggin-box">
	<span class="ui-icon ui-icon-grip-dotted-vertical ui-draggin-default-image"></span>  
	<span class="
		 <% if(data.type == 'folder') {%>
			draggin-folder
		 <%}else{%>
			draggin-mail
		 <%}%>
		 "><%= data.texto %>
	</span>  
 </div>