/* IM:WINDOW - ADD USER */

div.add_organization_members
{
	margin-bottom: 30px;
}

div.add_organization_members span
{
	border-bottom: 1px solid #809aa9;
	float:left;
	font-size: 8pt !important;
	font-family: Arial, Verdana, helvetica, sans-serif !important;
	font-weight: bold;
	position:aboslute;
	width: 200px;
}

div.add_organization_members div
{
	font-weight: normal;
	margin: 2px;
	padding: 3px;
	height: 230px;
	overflow: auto;
}

div.add_organization_members div span
{
	background: url(../images/photo.png) no-repeat;
	border-bottom: 1px dashed #809aa9;
	border-right: 1px dashed #809aa9;
	clear:both;
	float:left;
	font-weight: normal;
	height: 65px;
	letter-spacing: 0.2em;
	padding: 4px 0 4px 80px;
	margin-bottom: 20px;
	width: 300px;
}

div.add_organization_members div#im_ldap_ou
{
	float: left;
	width: 200px;
}

div.add_member_info
{
	margin: 10px 0;
}

div.add_member_info span
{
	float: left;
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-right: 3px;
	text-align: right;
	width: 80px;
}

div.search_user 
{
	font-size: 8pt !important;
	font-family: Arial, Verdana, helvetica, sans-serif !important;
	font-weight: bold;
	margin: 0 0 0 5px;
}

.search_user_button
{
	border: 1px solid #000 !important;
}

span.im_button
{
	background: #dedede;
	border: 1px solid;
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0 15px;
	text-align: center;
	line-height: 1.5em;
}

div.loading
{
	background: #fdd url(../images/loading.gif) no-repeat 1px 1px;
	border: 1px dashed #f00;
	margin:	2px;
	padding: 3px 3px 3px 20px;
	text-align: center;
}

span.message_time
{
	color: #aaa;
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
}

.font_menu
{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
}

.layer
{
	background: url(../images/photo.png) no-repeat 2px 2px;
	border:	1px solid #dedede;
	height: 65px;
	margin:	2px;
	padding: 2px 0px 2px 54px;
}

/* Disconnected */

.disconnected
{
	font: 9pt Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #dedede;
	margin: 2px;
}

/* Vcard */

.vcard_user
{
	font: 9pt Verdana, Arial, Helvetica, sans-serif;
	margin:10px;
}

.vcard_contact
{
	font: 9pt Verdana, Arial, Helvetica, sans-serif;
	margin:10px;
}


/*Antigo button.css*/
.x-btn
{
	-x-system-font:none;
	font-family:tahoma,verdana,helvetica;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	white-space:nowrap;
}

.x-btn td 
{
	padding:0 !important;
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc 
{
	background-image: url(../images/btn.gif) !important;
}

.x-btn-tl 
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none no-repeat scroll 0 0;
	height:3px;
	width:3px;
}

.x-btn-tr i, .x-btn-tl i, .x-btn-br i, .x-btn-bl i
{
	height:3px;
}

.x-btn-tc
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat-x scroll 0 -6px;
	height:3px;
}

.x-btn-tr 
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none no-repeat scroll -3px 0;
	height:3px;
	width:3px;
}

.x-btn-tr i, .x-btn-tl i, .x-btn-mr i, .x-btn-ml i, .x-btn-br i, .x-btn-bl i
{
	display:block;
	font-size:1px;
	line-height:1px;
	overflow:hidden;
	width:3px;
}

.x-btn-ml
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none no-repeat scroll 0 -24px;
	width:3px;
}

.x-btn-mc
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat-x scroll 0 -1096px;
	cursor:pointer;
	padding:0 5px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
}

.x-btn em
{
	font-style:normal;
	font-weight:normal;
}

.x-btn-noicon .x-btn-small .x-btn-text
{
	height:16px;
}

.x-btn button
{
	-x-system-font:none;
	font-family:arial,tahoma,verdana,helvetica;
	font-size:11px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

.x-btn button 
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;
	border:0 none !important;
	cursor:pointer;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	overflow:visible;
	padding-left:3px;
	padding-right:3px;
	width:auto;
}

.x-btn-text
{
	color: #000 !important;
	cursor:pointer;
	padding:0;
	white-space:nowrap;
}

.x-btn-mr
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none no-repeat scroll -3px -24px;
	width:3px;
}

.x-btn-bl
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none no-repeat scroll 0 -3px;
	height:3px;
	width:3px;
}

.x-btn-bc
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat-x scroll 0 -15px;
	height:3px;
}

.x-btn-br
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none no-repeat scroll -3px -3px;
	height:3px;
	width:3px;
}

/*Antigo selectEditStyle.css*/
	.selectBoxArrow
	{
		margin-top:1px;
		float:left;
		position:absolute;
		right:1px;

	}	
	
	.selectBoxInput
	{
		font-family: Verdana, Helvetica, sans;
		font-size: 11px !important;
		border:0px !important;
		padding-left:1px;
		height:16px;
		position:absolute;
		bottom:0px;
		left:0px;
	}

	.selectBox
	{
		border:1px solid #cecece !important;
		height:20px;	
	}
	
	.selectBoxOptionContainer
	{
		position:absolute;
		border:1px solid #cecece !important;
		font-size:12px;
		background-color:#FFF;
		left:-1px;
		top:20px;
		visibility:hidden;
		height: 100px;
		overflow-y:auto;
	}

	.selectBoxAnOption
	{
		font-family: Verdana, Helvetica, sans;
		font-size:12px;
		cursor:default;
		margin:1px;
		overflow:hidden;
		white-space:nowrap;
	}

