.x-menu
{
	background-color : #98c17f !important;
	border		: 1px solid #7bc64e;
	color		: #ffffed !important;
	display		: none;
	margin		: 20px 5px 0px -15px;
	position	: absolute;
}

.x-subMenuChangeStatus
{
	background-color : #98c17f !important; 
	border		: 1px solid #7bc64e;
	color		: #ffffed !important;
	float		: left;
	margin		: -10px 5px 0px 0px;
	position	: absolute;
}

.x-subMenuChangeStatusItens
{
	background-color 	: #98c17f !important;
	border		: 1px solid #7bc64e;
	color		: #ffffed !important;
	float		: left;
	position	: absolute;
}

.x-menuOnMouseOut
{
}

.x-menuOnMouseOver
{
	background-color : #4c9b1d !important;
	border : 1px solid #7bc64e;
}

/* x-content */

.x-content
{
	margin : 2px ;
}

/* x-panel */

.x-panel
{
    border-color: #7bc64e;
    border-style: solid;
    border-width:0;
}

.x-panel-body
{
    background-color:#fff;
    border:1px solid;
    border-color:#7bc64e;
    border-top:0 none;
    position: relative; 
    overflow:hidden;
    zoom:1;
}

.x-panel-body-noheader
{
    border-top-color: #7bc64e;
}

.x-panel-bwrap
{
    overflow:hidden;
    zoom:1;
    left:0;
    top:0;
}

.x-panel-nofooter .x-btn-group-bc
{
	height:3px;
    font-size:0;
    line-height:0;
}

.x-panel-nofooter .x-window-bc
{
	height:6px;
    font-size:0;
    line-height:0;
}

.x-panel-noborder .x-panel-body-noborder
{
    border-width:0;
}

.x-panel-noborder .x-panel-header-noborder
{
    border-bottom-color:#7bc64e;
    border-width:0 0 1px;
    border-style:solid;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar
{
    border-width:1px 0 0 0;
    border-style:solid;
    border-top-color:#7bc64e;
}

.x-panel-noborder .x-panel-tbar-noborder .x-toolbar
{
    border-bottom-color:#7bc64e;
	border-width:0 0 1px;
    border-style:solid;
}

/* x-shadow */ 

.x-shadow_Div
{
	border 		: 1px dashed black;
	position 	: absolute;
}

/* x-tab */

.x-tab-panel
{
    overflow:hidden;
}

.x-tab-panel-body
{
    border: 1px solid;
    background-color:#fff;
    overflow:hidden;
}

.x-tab-panel-body-top
{
    border-top: 0 none;
}

.x-tab-panel-bwrap
{
    overflow:hidden;
}

.x-tab-panel-noborder .x-tab-panel-body-noborder
{
	border-width:0;
}

.x-tab-panel-noborder .x-tab-panel-footer-noborder
{
    border-width: 1px 0 0 0;
}

.x-tab-panel-noborder .x-tab-panel-header-noborder
{
    border-width: 0 0 1px 0;
}


/* x-tool */
.x-tool
{
    overflow	: hidden;
    width		: 15px;
    height		: 15px;
    float		: right;
    cursor		: pointer;
    background	: transparent no-repeat;
    background-image : url(../images/cataratas/tool-sprites.gif);
    margin-left	: 2px;
    margin-top	: 5px;
}

.x-tool-close
{
    background-position	: 0 -0;
}

/* x-unselectable */

.x-unselectable, .x-unselectable * 
{
    -moz-user-select	: none;
    -khtml-user-select	: none;
    -webkit-user-select	: ignore;
}

/* x-window */

.x-window
{
	visibility	: visible;
	display		: block;
}

.x-window .x-resizable-handle
{
    opacity	:0;
    -moz-opacity :0;
    filter	:alpha(opacity=0);
}

.x-window-draggable, .x-window-draggable .x-window-header-text
{
    cursor	: move;
}

.x-window-header
{
    float		: left;
    overflow	: hidden;
    zoom		: 1;
}

.x-window-bc
{
	background	: transparent repeat-x 0 bottom;
	background-image : url(../images/cataratas/top-bottom.png);
    zoom : 1;
}

.x-window-bc .x-window-footer
{
    padding-bottom	:6px;
    zoom	: 1;
    font-size	: 0;
    line-height	: 0;
}

.x-window-body
{
    background	: transparent;
    overflow	: hidden;
}

.x-window-bwrap
{
    position : relative;
	overflow : hidden;
    zoom	: 1;
    left : 0;
    top : 0;
}

.x-window-tc
{
	background: transparent repeat-x 0 0;
	background-image: url(../images/cataratas/top-bottom.png);
	overflow:hidden;
    zoom:1;
}

.x-window-tl
{
	background: transparent no-repeat 0 0;
	background-image: url(../images/cataratas/left-corners.png);
	padding-left:6px;
    zoom:1;
    position:relative;
}

.x-window-tr
{
	background: transparent no-repeat right 0;
	background-image: url(../images/cataratas/right-corners.png);
	padding-right:6px;
}

.x-window-bl
{
	background: transparent no-repeat 0 bottom;
	background-image: url(../images/cataratas/left-corners.png);
	padding-left:6px;
    zoom:1;
}

.x-window-br
{
	background: transparent no-repeat right bottom;
	background-image: url(../images/cataratas/right-corners.png);
	padding-right:6px;
    zoom:1;
}

.x-window-mc
{
	border:1px solid;
	border-color:#7bc64e;
	font: normal 11px tahoma,arial,helvetica,sans-serif;
    padding:0;
    margin:0;
}

.x-window-ml
{
	background: transparent repeat-y 0 0;
	background-image: url(../images/cataratas/left-right.png);
	padding-left:6px;
    zoom:1;
}

.x-window-mr
{
	background: transparent repeat-y right 0;
	background-image: url(../images/cataratas/left-right.png);
	padding-right:6px;
    zoom:1;
}

.x-window-noborder .x-window-mc
{
    border-width:0;
}

.x-window-tl .x-window-header
{
    color:#ffffed;
	font:bold 11px tahoma,arial,verdana,sans-serif;
	padding:5px 0 4px 0;
}