<div class="expresso-window-filters expresso-window-container filter-manager-window" title="<% get_lang("Filters")%>">
	<div class="expresso-window-container filter-manager-window rule-list-container" title="<% get_lang("List")%>"></div>
	<div class="expresso-window-container filter-manager-window rule-edit-container" title="<% get_lang("Rules for message classification")%>"></div>
</div>
