<p>&nbsp;</p>
<p>&nbsp;</p>
<center><b>Richard Anderson</b> <br />
1234, West 67 Street, <br />
Carlisle, MA 01741, <br />
(123)-456 7890. <br />
Email: rachel@somedomain.com</center> <hr />
<table cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td><b>EDUCATION:</b> <br />
            1990</td>
            <td>&nbsp;<br />
            M.A., Paleontology, Univ. of Maine, Orono ME</td>
        </tr>
        <tr>
            <td><b>CERTIFICATION/ENDORSEMENTS:</b></td>
            <td><br />
            Initial Teaching Certificate - English, History Endorsement</td>
        </tr>
        <tr>
            <td><b>EXPERIENCE:</b> <br />
            1993 - Present</td>
            <td><br />
            Managed widget department supervising a staff of 45 people with responsibility for a budget of $250,000.</td>
        </tr>
        <tr>
            <td><b>CURRICULUM DEVELOPMENT:</b></td>
            <td><br />
            Developed curriculum for teaching how to play the banjo.</td>
        </tr>
        <tr>
            <td><b>PUBLICATIONS:</b></td>
            <td><br />
            Jones, Ralph A., &quot;The Effect of Seat Ejection in a Negative G-Force Situation,&quot; The Aviator, June 1993.</td>
        </tr>
        <tr>
            <td><b>CAPABILITIES:</b></td>
            <td><br />
            Develop behavioral objectives and teach effectively to accomplish those objectives.</td>
        </tr>
        <tr>
            <td><b>MOTIVATION:</b></td>
            <td><br />
            My personal leadership style is to lead by example which has resulted in high morale and improved unit efficiency.</td>
        </tr>
        <tr>
            <td><b>ARTISTIC SKILLS/HOBBIES:</b></td>
            <td><br />
            Play piano, trumpet, and drums; also write music and poetry.</td>
        </tr>
        <tr>
            <td><b>ATHLETIC/COACHING EXPERIENCE:</b></td>
            <td><br />
            Coached Babe Ruth baseball 3 years, soccer 2 years, currently a registered baseball umpire.</td>
        </tr>
        <tr>
            <td><b>PROFESSIONAL AWARDS:</b></td>
        </tr>
        <tr>
            <td><b>SELECTED EVALUATION COMMENTS:</b></td>
            <td><br />
            &quot;He always exceeded my expectations.&quot; &quot;A hard worker who has an affinity for getting things done.&quot;</td>
        </tr>
        <tr>
            <td><b>COMMUNITY/VOLUNTEER EXPERIENCE:</b></td>
            <td><br />
            Assist annually with Boy Scout food bank.</td>
        </tr>
        <tr>
            <td><b>REFERENCES:</b></td>
            <td><br />
            Dr. George Jones, (360)427-6789 - Home</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>