/* Default styles */
body {
	margin: 0px;
	padding: 0px;
	background-color:#FFF;

}
a {
	color: #000000 !important;
}
a:hover {
	color: #000000 !important;
	text-decoration: underline !important;
}
a:visited {
	color: #2663A6 !important;
}

.titulo {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 15px !important;
	#font-size: 13px;
	color: #000559 !important;
	font-weight: bold;
}
#msg, .msg, .destaque_formulario {
	background-color:#F7F3EF;
	border: 1px solid #CDC0B0;
	padding: 7px;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	color: #000000;
	text-align:left !important;
	margin-bottom:8px;
}
.msg_erro {
	color:#CC0000 !important;
	font-size: 12px !important;
}
.msg_aviso {
	color:#000000 !important;
	font-size: 12px !important;
}
.msg_sucesso {
	color:#006600 !important;
	font-size: 12px !important;
}

.msg_descricao {
	color:#999999 !important;
	font-style:italic !important;
}
#conteudo {
    text-align:center;
	background-color:#FFFFFF;
	padding: 15px;
	position:relative;
	color: #000000 !important;
	#width:99%;

}
#conteudo_corpo {
	background-color:#F7F3EF;
	border: 1px solid #CDC0B0;
	padding: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
	color: #000000 !important;
	text-align:left;
	margin-top:8px;
	line-height:150%;
	_width:100%;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-bottomright: 9px;
	-moz-border-radius-bottomleft: 9px;

}
#conteudo_abas {
	background-color:#FFFFFF;
	border-top: none;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px;
	color: #000000 !important;
	text-align:left;
	line-height:150%;

}

.abas {
	background-color:#F7F3EF;
	font-size: 12px !important;
	text-align:center;
	color: #000000 !important;
	border-top: 1px solid #8B7D6B;
	border-right: 1px solid #8B7D6B;
	border-bottom: 1px solid #8B7D6B;
	margin-top:8px;
}

.abas td {
	padding:5px;
	border-left:1px solid #FF1CAE;
	border-bottom:1px solid #FF1CAE;
	text-align:center;
}
.abas a {
	color:#000000 !important;
}
.abas a:hover {
	color:#FF1CAE;
}

.aba_inicial_esquerda {
	border-bottom: 5px solid #8B7D6B;
	border-right: 1px solid #8B7D6B;
}

.aba_inicial_direita {
	border-bottom: 5px solid #8B7D6B;
}

.aba_selecionada {
	text-align:center;
	font-size: 12px !important;
	color:#000000 !important;
	background-color:#FFFFFF;
	font-weight: bold;
	border-bottom:1px solid #FFFFFF !important;
	border-top: 1px solid #8B7D6B;
	border-right: 1px solid #8B7D6B;
}

.aba_simples {
	border-left: 1px solid #CDC0B0;
	border-right: 1px solid #CDC0B0;
}

.aba_simples_selecionada {
	border-left: 1px solid #CDC0B0;
	border-right: 1px solid #CDC0B0;
	background-color: #CDC0B0;
}


#list_tabela {
	margin-top:5px;
    margin-bottom:5px;
    border-top:1px solid #CDC0B0;
    border-right:1px solid #CDC0B0;
    border-bottom:1px solid #CDC0B0;
}

#list_tabela th {
	background-color: #8B7D6B;
    border-bottom:1px solid #CDC0B0;
    border-left:1px solid #CDC0B0;
    color: #FFFFFF;
    padding-left: 2px;
    padding-right: 2px;
    text-align:left;
    font-size:12px !important;
    font-weight:bold;
    height: 18px;
}

.separator_list {
	background-color: #C6B891;
	border-bottom:1px;
	border-left:1px;
	color: #FFFFFF !important;
	padding-left: 2px;
	padding-right: 2px;
	text-align:left;
	font-size:11px;
	font-weight:bold;
	height: 18px;
}

#list_tabela td {
	padding:3px;
    border-left:1px solid #CDC0B0;
    color:#000000 !important;
    font-size: 11px !important;
}
.list_cor_sim {
	background-color: #F7F3EF;
}
.list_cor_hover {
	background-color:#E6D9CC;
}
.list_cor_nao {
	background-color: #FFFAFA;
}
.list_sem_cor {
	border-top:1px solid #CDC0B0;
}

fieldset {
	border: 0 none;
}
.div_form_linha {
	margin-top:7px;
	margin-bottom:8px;
	clear: left;
}
.form_label, .div_form_label {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
	color: #000000 !important;
	vertical-align: top;
	padding: 3px;
	text-align:left;
	font-weight:bold;
}
.div_form_label {
	clear: left;
	float: left;
	padding-left: 10px;
	width: 163px;
}
.obrigatorio{
	padding-left: 0px !important;
	width: 173px;
}
.form_botao {
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	color: black !important;
	font-size:12px !important;
	padding-top:2px !important;
	padding-right:4px !important;
	padding-bottom:2px !important;
	padding-left:4px !important;
	margin-left:1px !important;
	margin-right:1px !important;
	margin-top:2px !important;
	background-color: #eeeeee !important;
	border-right: 2px solid #808281 !important;
	border-bottom: 2px solid #808281 !important;
	border-top: 2px solid white !important;
	border-left: 2px solid white !important;
}

.form_opcoes {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 10px;
	color: #FFFFFF;
	text-align:center;
	margin-top:10px;
}
.form_opcoes a {
	color: #FFFFFF;
}
.form_opcoes a:hover {
	color: #0067CE;
}
#cabecalho {
	display:block;
	background-color:#0099FF;
	height:43px;
	padding:0px;
	margin:0px;
	border-top:3px solid #5EB0FF;
}

#menu ul {
	padding:0px;
	margin:0px;
	float: left;
	width: 100%;
	background-color:#F7F3EF;
	list-style:none;
	font:80% Tahoma;
}

#menu ul li { display: inline; }

#menu ul li a {
	background-color:#F7F3EF;
	color: #333 !important;
	text-decoration: none !important;
	border-bottom:3px solid #8B7D6B;
	padding: 2px 10px;
	float:left;
	margin-right:2px;
}

#menu ul li a:hover {
/*	background-color:#D6D6D6; */
	color: #5EB0FF !important;
	border-bottom:3px solid #5EB0FF;
	text-decoration: none !important;
/*	font-weight:bold;
*/}

#rodape {
	width:668px;
	height:53px;
	display:block;
	background-color:#F6C491;
	position: absolute;
	top: 324px;
	left:50%;
	margin-left:-334px;
}
#rodape table {
	width:100%;
}
.text_rodape {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 10px !important;
	color: #87470E !important;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	line-height:150%;
}
h1 {
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:14px !important;
	font-weight:bold;
	color:#000000 !important;
	text-align:left;
	margin: 0px 0px 2px 0px;
	border-bottom:1px solid #8B7D6B;
	#font-size:12px;
}
h2 {
	display:block;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	font-size:11px !important;
	font-weight:bold;
	color:#FFFFFF !important;
	height:18px;
	background-color:#333333;
	padding: 4px 1px 1px 10px;
	margin:3px 0px 0px 0px;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-topleft: 9px;
}

hr {
	border-top:1px dashed #CDC0B0;
	border-right:none;
	border-bottom:none;
	border-left:none;
	height:1px;
	margin:3px 0px 3px 0px;
}

.form_tabela, .div_form {
	text-align:left !important;
	background-color:#FBFAF8 !important;
	padding:10px !important;
	#border: 10px solid #FBFAF8;
}
.div_form {
	padding: 4px !important;
}
.dark_table  {
	background-color: #EFEFEF !important;
	border: 0px !important!;
}


.form_tabela td {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
	color:#000000 !important;
	padding: 3px;

}
form {
	margin: 0px;
	padding: 0px;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	color: #000559 !important;
	padding: 1px 0px 1px 4px !important;
	border-top: 1px solid #808281 !important;
	border-left: 1px solid #808281 !important;
	border-right: 1px solid white !important;
	border-bottom: 1px solid white !important;
	vertical-align: middle !important;

}
.input_like_label {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	color: #000559 !important;
	padding: 1px 0px 1px 4px !important;
	vertical-align: middle !important;
	border-width: 0px !important;
	background-color: transparent !important;
}
input.checkbox {
	border: 0px !important;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	border-top: 1px solid #808281 !important;
	border-left: 1px solid #808281 !important;
	border-right: 1px solid white !important;
	border-bottom: 1px solid white !important;

}
textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	color: #000559 !important;
	padding: 1px 0px 1px 4px !important;
	border-top: 1px solid #808281 !important;
	border-left: 1px solid #808281 !important;
	border-right: 1px solid white !important;
	border-bottom: 1px solid white !important;

}

#barra_acao_top {
	display:block;
	border: 1px solid #CDC0C0 !important;
	background-color:#F7F3EF !important;
	padding-right:15px !important;
	height:29px !important;
	#width:99%;
}
#barra_acao_top a,td {
	color:#000000 !important;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	font-size:10px !important;
	text-decoration:none !important;
}
#barra_acao_top a:hover {
	text-decoration:underline !important;
	color:#0067CE !important;
}
#barra_localizacao {
	color:#333333 !important;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	font-size:10px !important;
	float:left;
	padding-left:10px;
	padding-top:4px;
}
#barra_paginacao {
	color:#000000 !important;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	font-size:10px !important;
	width:100%;
}
#barra_paginacao td {
	color:#000000 !important;
}
#barra_paginacao a {
	color:#000000 !important;
}
#barra_paginacao a:hover {
	color: #0067CE !important;
}
#barra_acao_bottom {
	display:block;
	border: 1px solid #CDC0B0;
	background-color:#F7F3EF;
	padding-right:15px;
	height:19px;
	#width:99%;
}
#barra_acao_bottom a,td {
	color:#000000 !important;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	font-size:10px !important;
	text-decoration:none !important;
}
#barra_acao_bottom a:hover {
	text-decoration:underline !important;
	color:#0067CE !important;
}
.obs_obrigatorio {
	color:#333333 !important;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	font-size:11px !important;
	text-align:left;
	margin:0px;
}
.exemplo {
	color: #ff4200;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	font-size:11px !important;
	text-align:left;
	margin:0px;
	font-weight: normal;
}
#destacado, .destaque {
	border: 0px solid #333333;
	background-color: #E1DFD2;
	font-size: 12px !important;
	#font-size: 11px !important;
	padding: 10px;
	color: #403c31 !important;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-bottomright: 9px;
	-moz-border-radius-bottomleft: 9px;
}

#wf_activity_playground {
 	border: 0px;
}

.borda_table {
	border-collapse: collapse;
	border: 2px solid #333333;
	background-color:#FBFAF8;
	padding: 10px;
}

.borda_table tr {
	background-color:#FBFAF8;
}

.borda_table td {
	background-color:#FBFAF8;
}

.th_borda_table {
	display:block;
	font-family:Verdana, Arial, Helvetica, sans-serif !important;
	font-size:11px !important;
	font-weight:bold;
	color:#FFFFFF !important;
	background-color:#333333;
	height:18px;
	padding:4px 1px 1px 10px;
	margin:0px 0px 0px 0px;
	-moz-border-radius-topright: 9px;
	-moz-border-radius-topleft: 9px;
}

#list_tabela_clara {
    margin-top:5px;
    margin-bottom:5px;
    border-top:1px solid #CDC0B0;
    border-right:1px solid #CDC0B0;
    border-bottom:1px solid #CDC0B0;
}

#list_tabela_clara th {
    background-color: #8B7D6B;
    border-bottom:1px solid #CDC0B0;
    border-left:1px solid #CDC0B0;
    color: #FFFFFF;
    padding-left: 2px;
    padding-right: 2px;
    text-align:left;
    font-size:12px !important;
    font-weight:bold;
    height: 18px;
}

#list_tabela_clara td {
    padding:3px;
    border-left:1px solid #CDC0B0;
    color:#000000 !important;
    font-size: 11px !important;
}

img{
	vertical-align:middle;
}

#lightbox {
	background-color: #333333 !important;
}

#sheet, .sheet {
	background-color:#FFFFFF;
	border-top: 	1px solid #000000;
	border-left: 	1px solid #000000;
	border-bottom: 	3px solid #000000;
	border-right: 	3px solid #000000;
	padding-top: 	40px;
	padding-left: 	40px;
	padding-bottom:	40px;
	padding-right: 	40px;
	text-align:left !important;
}

ul.horizontalMenu
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

ul.horizontalMenu li
{
	float: left;
	margin: 0pt;
	text-align: left;
}

ul.horizontalMenu li a
{
	border: 1px solid #E6D9CC;
	background-color: #F7F3EF !important;
	padding: 0px 05px 0px 05px;
	height: 2.5em;
	line-height: 2.5em;
	float: left;
	display: block;
	color: #333333 !important;
	text-decoration: none;
	text-align: center;
	font-size: 11px !important;
}

ul.horizontalMenu li a:hover
{
	background-color: #E6D9CC !important;
	border: 1px solid #8B7D6B;
	color: darkblue !important;
	text-decoration: none !important;
}

ul.horizontalMenu li a:visited
{
	color: #000000 !important;
}

ul.horizontalMenu li a img
{
	vertical-align: middle;
}

ul.horizontalMenu
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.horizontalMenu li
{
    float: left;
    margin: 0pt;
    text-align: left;
}

ul.horizontalMenu li a
{
    border: 1px solid #E6D9CC;
    background-color: #F7F3EF !important;
    padding: 0px 05px 0px 05px;
    height: 2.5em;
    line-height: 2.5em;
    float: left;
    display: block;
    color: #333333 !important;
    text-decoration: none;
    text-align: center;
    font-size: 11px !important;
}

ul.horizontalMenu li a:hover
{
    background-color: #E6D9CC !important;
    border: 1px solid #8B7D6B;
    color: darkblue !important;
    text-decoration: none !important;
}

ul.horizontalMenu li a:visited
{
    color: #000000 !important;
}

ul.horizontalMenu li a img
{
    vertical-align: middle;
}

ul.horizontalMenu
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.horizontalMenu li
{
    float: left;
    margin: 0pt;
    text-align: left;
}

ul.horizontalMenu li a
{
    border: 1px solid #E6D9CC;
    background-color: #F7F3EF !important;
    padding: 0px 05px 0px 05px;
    height: 2.5em;
    line-height: 2.5em;
    float: left;
    display: block;
    color: #333333 !important;
    text-decoration: none;
    text-align: center;
    font-size: 11px !important;
}

ul.horizontalMenu li a:hover
{
    background-color: #E6D9CC !important;
    border: 1px solid #8B7D6B;
    color: darkblue !important;
    text-decoration: none !important;
}

ul.horizontalMenu li a:visited
{
    color: #000000 !important;
}

ul.horizontalMenu li a img
{
    vertical-align: middle;
}

div.autocomplete {
    margin:0px;
    padding:0px;
    width:355px;
    background:#fff;
    border:1px solid #888;
    position:absolute;
}

div.autocomplete ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
}

div.autocomplete ul li.selected {
    background-color:#ffb;
}

div.autocomplete ul li {
    margin:0;
    padding:2px;
    height:16px;
    display:block;
    list-style-type:none;
    cursor:pointer;
}

.span_message_notice, .span_message_success, .span_message_error {
    font-weight: bold;
    font-size: 90%;
    padding: 1px 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 5px;
    background:#FFF6BF;
    color:#514721;
    border: 1px solid #FFD324;
    opacity: 100;
}

.span_message_success {
    background:#E6EFC2 !important;
    color:#264409 !important;
    border-color:#C6D880 !important;
}

.span_message_error {
    background:#FBE3E4 !important;
    color:#8A1F11 !important;
    border-color:#FBC2C4 !important;
}
