<html>
<head>
<title>Ajuda</title>
<link rel='stylesheet' type='text/css' href='../../../help/templates/celepar/css/index.css'>
</head>
<body bgcolor="WHITE">
<a name='indice'/>
<table width='100%'>
    <p class='item'>JMessenger - Como Utilizar</p>
    <ol>
      <a href="#intro"><font size="2" style="text-decoration:underline" color="DARKBLUE"><li>Introdução</li></font></a>
      <a href="#supported"><font size="2" style="text-decoration:underline" color="DARKBLUE"><li>Browsers Suportados</li></font></a>
      <a href="#prefe"><font size="2" style="text-decoration:underline" color="DARKBLUE"><li>Opções - Troca de Status</li></font></a>
      <a href="#conf_status"><font size="2" style="text-decoration:underline" color="DARKBLUE"><li>Mensagens de Status</li></font></a>
	  <a href="#contact_list"><font size="2" style="text-decoration:underline" color="DARKBLUE"><li>Lista de Contatos</li></font></a>
      <a href="#status"><font size="2" style="text-decoration:underline" color="DARKBLUE"><li>Indicador de Status</li></font></a>
      <a href="#useradd"><font size="2" style="text-decoration:underline" color="DARKBLUE"><li>Adicionando um novo contato</li></font></a>
      <a href="#menu_right"><font size="2" style="text-decoration:underline" color="DARKBLUE"><li>Preferências Avançadas</li></font></a>
	  <a href="#troca_mens"><font size="2" style="text-decoration:underline" color="DARKBLUE"><li>Troca de Mensagens</li></font></a>
	  <a href="#certi_java"><font size="2" style="text-decoration:underline" color="DARKBLUE"><li>Assinatura de Applet - Java</li></font></a>		  
    </ol>

    <a name="intro"><p class='item'>1. Introdução</p></a>
    <div class='texto'>
    O JMessenger é uma aplicação que permite o envio e recebimento de mensagens instantaneamente. Através da sua lista de contatos, você pode trocar mensagens e arquivos com seus contatos. Através da lista também é possível saber se seus contatos estão Online ou Offline. Para a troca de mensagens basta clicar em cima do nome do seu contato, se o mesmo estiver online ( verifique a sessão <a href="#status">Indicador de Status</a> ) abrirá uma janela onde você poderá enviar/receber as mensagens. O JMessenger está associado
    a um serviço de mensagens instantâneas Jabber e este serviço é responsável pelo armazenamento dos seus contatos, preferências e mensagens.
    <br><br>
	<img src="images/tela_inicial.png" style="width:239px; height:436px;" alt="Im Screenshot" title="Im Screenshot" align="bottom" style="padding:4px;">
	<br clear="all">
	( Figura 1 )
	</div>
    <br clear="all">
    <p class='item'><a name="supported">2. Navegadores Suportados</a></p>
    <div class='texto'>
      	<p><u>Windows XP/2000/ME/98/95</u></p>
	    <li>Internet Explorer 6.0</li>
	    <li>Mozilla Firefox desde a versão 2.0</li>
	    <li>Mozilla Firefox desde a versão 3.0</li>
	 	<p><u>Linux</u></p>
	    <li>Mozilla Firefox desde a versão 2.0</li>
	    <li>Mozilla Firefox desde a versão 3.0</li>
   </div>
	<p class='back'><a href="#indice">Voltar</a></p>
	<p class='item'><a name="prefe">3. Opções - Troca de Status</a></p>
    <div class='texto'>
	Para a troca de status ( conforme figura 2 ), basta dar um clique com o mouse e em cima do botão <img src="images/botao_opcoes.png" width="116" height="21" style="margin-left:5px; margin-right:5px;"/> .
	<br><br>
    <img src="images/menu_opcoes.png" style="width:238px; height:267px;" alt="Menu Opções" title="Menu Opções" align="bottom"/><br>( figura 2 )
	</div>
    <p class='item'><a name="conf_status">4. Mensagens de Status</a></p>
	<div class='texto'>
	É possível configurar as mensagens para cada status escolhido (figura 3) clicando no item Personalizar.<br><br>
	<img src="images/conf_status.png" style="width:345px; height:270px; margin-top:5px;" alt="Mensagens de Status" title="Mensagens de Status" align="bottom"/>
	<br>
	( figura 3 )
	</div>
	<p class='back'><a href="#indice">Voltar</a></p>
    <p class='item'><a name="contact_list">5. Lista de Contatos</a></p>
	<div class='texto'> 
	Na lista de contato (figura 4), você visualizará seus contatos.<br><br>
    <img src="images/lista_contatos.png" width="274px" height="239px" alt="Lista de Contatos" align="bottom" style="border:1px solid black;margin:5px;"/>
    <br>
    ( figura 4 )
	</div>
    <p class='item'><a name="status">6. Status dos Usuários</a></p>    
    <div class='texto' style="border:1px solid black;width:30%"><br>
    <img src="images/available.png" style="margin:1px;" align="top"> - Disponível<br/>
    <img src="images/away.png" style="margin:1px;" align="top"> - Ausente<br/>
    <img src="images/chat.png" style="margin:1px;" align="top"> - Bate-papo<br/>
    <img src="images/dnd.png" style="margin:1px;" align="top"> - Não Perturbe<br/>
    <img src="images/invisible.png" style="margin:1px;" align="top"> - Invisível<br/>    
    <img src="images/unavailable.png" style="margin:1px;" align="top"> - Offline / Desconectado<br/>    
    <img src="images/xa.png" style="margin:1px;" align="top"> - Ausência Prolongada<br/>    
	</div>
    <p class='item'><a name="useradd">7. Adicionando um novo contato </a></p>
	<div class='texto'>
	Para adicionar um novo contato, clique na imagem <img src="images/group_open.gif"/>, no canto superior esquerdo (figura 5) e abrirá uma janela para adição dos contatos (figura 6) e
	faça uma pesquisa pelo nome. O resultado retornará <u>somente</u> os usuários que <u>tem permissão</u> para usar o Mensageiro Instantâneo do Expresso. 
	Clique sobre o link "Adicionar Contato" e aparecerá dois campos, sendo que o campo "Apelido" é preenchido no momento da escolha do novo contato e o campo grupo
	terá que ser definido. Preenchendo estes dois campos basta clicar no "Botão Adicionar", e o contato será adicionado em sua Lista de Contatos.
	<br/>
    <img src="images/adicionar_contato.png" width="282px" height="142px" alt="Adicionar Contato" title="Adicionar Contato" align="bottom" style="margin-top:5px;"/>
   	<br>( figura 5 )
    <br/>
	<br/>
	<img src="images/janela_adicionar_contatos.png" width="444" height="353" style="margin-top:5px;" alt="Adicionar Contato" title="Adicionar Contato"/>
	<br clear="all"/>
	( figura 6 )
	<br/>
	<br/>
	</div>
	<p class='back'><a href="#indice">Voltar</a></p>
    <p class='item'><a name="menu_right">8. Preferências Avançadas</a></p>
	<div class='texto'>
    Clicando com o botão direito do mouse, você terá acesso a um menu (figura 7), com as seguintes funcionalidades:
    <blockquote><br>
      - Autorizações: Requisitar e autorizar permissões.<br>
      - Grupo: Trocar / Adicionar / Remover do grupo.<br>
      - Renomear : Renomeia o contato.<br>
      - Remover: Exclui o contato.
     </blockquote>
    <br>
    <img src="images/menu_right.png" width="412" height="183" alt="Preferências Avançadas" align="bottom" style="margin-top:5px;"/>
    <br>( figura 7 )
	</div>
	<p class='back'><a href="#indice">Voltar</a></p>
	<p class='item'><a name="troca_mens">9. Troca de Mensagens</a></p>
	<div class='texto'>
	Clicando duas vezes com o botão esquerdo sobre o nome do contato escolhido, abrirá uma janela (figura 8), para a troca de mensagens. Nessa mesma janela existe um menu, o qual é possível
	configurar o formato da fonte e enviar smiles.<br><br>
    <img src="images/troca_de_mensagem.png" width="300" height="351" alt="Troca de Mensagens" title="Troca de Mensagens" align="bottom" style="margin-top:5px;"/><br>( figura 8 )
	</div>	
	<br/>
	<p class='back'><a href="#indice">Voltar</a></p>
	<p class='item'><a name="certi_java">10. Assinatura de Applet - Java</a></p>
	<div class='texto'>
	O modelo de segurança implementado pela plataforma Java, está sobre o conceito que um código remoto (applet) não é confiável, garantindo assim que um applet malicioso não danifique
	o computador. Porém existem applets que são de confiança e necessitam de permissões para fornecer determinado tipo de serviço. O Expresso Messenger é desenvolvido em
	Java e precisa dessas permissões para fornecer o serviço de mensagens instantâneas. Quando carregado pela primeira vez, o Java que está instalado no computador, mostrará uma
	janela ( figura 9), perguntando se deseja realmente rodar este código remoto e mostra dois botões, "Run" e o "Cancel". É necessário que seja marcada a opção "Run", e caso não queira
	que esta janela abra, marque a opção "Always trust content from this publisher".
	<br><br>
    <img src="images/cert_java.png" width="520" height="356" alt="Troca de Mensagens" title="Troca de Mensagens" align="bottom" style="margin-top:5px;"/><br>( figura 9 )
	</div>	
	<br/>	
	<p class='back'><a href="#indice">Voltar</a></p>
	<hr noshade>
</body>
</html>
