/* MACRO ESTRUTURA BROWSER */
.global{ }
#navegacao{float:left; width:29%}
#conteudo{border-left: solid #F6F6F6; border-left-width: 1%; float:left; width:70%; min-height:305px;background: #eef7fa;} 
#titulo-miolo{background-color: #3399CC ;color: #FFFFFF;  font-size: small; min-height: 22px; line-height:22px; padding: 4px 0; font-weight:bold; }


/* CLASSES e IDS MODIFICADAS */
#campos-correspondencia {background-color: #CEE5EF;  color: #666666; display: table; font-weight: bold;   padding: 10px 0; text-align: left; /*min-height:210px*/ } 
.rodape{clear:both}
#pre-calendario{display:table; width:100%}
.menu-diverso, #palavra-procurada{height:25px}
.email-data{width:70px;}
.aviso-positivo, .aviso-negativo {width:50%}
#titulo-miolo button {height:21px}



/* IE6 MODIFICAÇÕES*/

.gd input{width:100%; padding:2px 0;}
p.descricao{margin-left:25px} /*classe criada*/


.login{width:40%; margin:auto; padding:10px 0}
.login strong {margin:0 0 0 5px; }
.login input{width:50%; margin:3px 0}
.login button {margin:0 5px}
.login p{padding:3px;}
#bg-aviso{background:#EFF8FB; padding-top:20px;}
.avisos{background-color:#FAE1E1;}
.aviso-positivo, .aviso-negativo{ padding:5px; font-size:x-small; color:#333333; background-color:#CEE5EF; width:40%; margin:auto  }
.aviso-negativo{ background-color:#FAE1E1 }
.aviso-positivo a,.aviso-negativo a{text-decoration:underline; color:#333333;}
div.posiciona-esquerda p {margin-left:17px}
div.posiciona-esquerda p input {margin-left:-19px}
.email-item{color:#3E3E3D; font:bold small Arial, Helvetica, sans-serif; vertical-align:text-bottom;}

.email-cabecalho{overflow: hidden; width:74%; height:18px; float:left;}
.email-corpo{margin-top:-5px}
.btn-anexo a:hover {background:#FAD364; width:40px; padding:3px; color:#333  }

.margin-geral{height:15px}
.bloco{margin-left:5px}
.container{margin-bottom:5px}
#titulo-miolo{height:22px}
#palavra-procurada {line-height:20px }
div.posiciona-esquerda p a:hover{background:none; color:#3E3E3D; font:bold small Arial, Helvetica, sans-serif; vertical-align:text-bottom}
.dt-azul, .dt-branco {background:#EEF7FA; clear:both; display:table;  width:100%;  }
.dt-branco {background:#FFF}
.dt-branco a{background:#FFF}

.limpar_div_margin{margin-left:5px}
.limpar_div_margin input{width:90%}



#pre-calendario {padding: 10px; background: #eef7fa; width:70%   }
#semanal { border: none; margin-bottom: 5px }
#calendario {width:10%;	}
#calendario thead tr th { color: #333; font-size:small; font-weight:bold;}
#calendario thead tr th, #calendario tbody tr td { text-align: center } 
.semana { color:#333;font-size:small; width:100%; font-weight:bold; width: 14%; }
.dias { border: none }
.dias a {color: #444;font-size: 11px;cursor: pointer;text-decoration: none;text-align: center;display: block;border: 1px solid #CACACA;width: 27px;height:16px;margin: 0px;padding: 3px 1px 0 0;position: relative;}
.dias a .qtd_commitment {font-size: 8px;position: absolute;top: 0;right: 0.5px;	color: red;}
.dias a:hover { color:#999; text-decoration: none }
a.hoje { background: #FC0; color: #fff }
a.dia_branco { background: #FFF }
a.outro_mes { background: #E1E1E1; color: #8B8B8B }



dt.menu-diverso {min-height:18px; padding:4px 0;}
dl#lista_miolo dt.menu-diverso{height:0px; padding:0px 0}
dl#lista_miolo dt.menu-diverso div.margin-geral{margin-top:1px; padding-top:2px;}

span.rotulo-complementar{font-size:x-small; text-decoration:underline; padding:3px; width:130px; margin-left:240px }


div.margin-rodape a{margin:-2px}
div.margin-rodape button{margin-left:1px}

#corpo_mensagem #foto {padding:5px 0; text-align:left; margin-left:20px}

.corrigi-margin{margin-top:-5px}


div.rodape {}