#calendarDiv
{
    position:absolute;
    width:205px;
    border:1px solid #006699;
    padding:1px;
    background-color: #FFF;
    font-family:arial;
    font-size:10px;
    padding-bottom:20px;
    visibility:hidden;
}

#calendarDiv span,#calendarDiv img{
    float:left;
}

#calendarDiv .selectBox,#calendarDiv .selectBoxOver
{
    line-height:12px;
    padding:1px;
    cursor:pointer;
    padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver
{
    line-height:12px;
    padding:1px;
    cursor:pointer;
    padding-left:2px;
}

#calendarDiv td
{
    padding:3px;
    margin:0px;
    font-size:10px;
}

#calendarDiv .selectBox
{
    border:1px solid #D8ECF1;
    color: #D8ECF1;
    position:relative;
}

#calendarDiv .selectBoxOver
{
    border:1px solid #FFF;
    background-color: #006699;
    color: #FFF;
    position:relative;
}

#calendarDiv .selectBoxTime
{
    border:1px solid #006699;
    color: #006699;
    position:relative;
}

#calendarDiv .selectBoxTimeOver
{
    border:1px solid #EDF7FA;
    color: #EDF7FA;
    position:relative;
}

#calendarDiv .topBar
{
    height:16px;
    padding:2px;
    background-color: #006699;
}

#calendarDiv .activeDay
{	/* Active day in the calendar */
    color:#FF0000;
}

#calendarDiv .todaysDate
{
    height:17px;
    line-height:17px;
    padding:2px;
    background-color: #D8ECF1;
    text-align:center;
    position:absolute;
    bottom:0px;
    width:201px;
}

#calendarDiv .todaysDate div
{
    float:left;
}

#calendarDiv .timeBar
{
    height:17px;
    line-height:17px;
    background-color: #D8ECF1;
    width:72px;
    color:#FFF;
    position:absolute;
    right:0px;
}

#calendarDiv .timeBar div
{
    float:left;
    margin-right:1px;
}

#calendarDiv .monthYearPicker
{
    background-color: #D8ECF1;
    border:1px solid #AAAAAA;
    position:absolute;
    color: #006699;
    left:0px;
    top:15px;
    z-index:1000;
    display:none;
}

#calendarDiv #monthSelect
{
    width:70px;
}

#calendarDiv .monthYearPicker div
{
    float:none;
    clear:both;
    padding:1px;
    margin:1px;
    cursor:pointer;
}

#calendarDiv .monthYearActive
{
    background-color:#006699;
    color: #D8ECF1;
}

#calendarDiv td
{
    text-align:right;
    cursor:pointer;
}

#calendarDiv .topBar img
{
    cursor:pointer;
}

#calendarDiv .topBar div
{
    float:left;
    margin-right:1px;
}