	.selectBoxArrow
	{
		margin-top:1px;
		float:left;
		position:absolute;
		right:1px;

	}	
	
	.selectBoxInput
	{
		font-family: Verdana, Helvetica, sans;
		font-size: 11px !important;
		border:0px !important;
		padding-left:1px;
		height:16px;
		position:absolute;
		bottom:0px;
		left:0px;
	}

	.selectBox
	{
		border:1px solid #cecece !important;
		height:20px;	
	}
	
	.selectBoxOptionContainer
	{
		position:absolute;
		border:1px solid #cecece !important;
		font-size:12px;
		background-color:#FFF;
		left:-1px;
		top:20px;
		visibility:hidden;
		height: 100px;
		overflow-y:auto;
	}

	.selectBoxAnOption
	{
		font-family: Verdana, Helvetica, sans;
		font-size:12px;
		cursor:default;
		margin:1px;
		overflow:hidden;
		white-space:nowrap;
	}