<div style="overflow:hidden;">
    <p style="text-align:justify">
        <%=get_lang('If opening this message you have noticed some inconsistency when viewing, such as truncated parts (broken) or complete impossibility of viewing the same, is likely to have been some failure in processing the message or even that there a flaw in the structure of the message that prevents proper visualization.')%>
    </p>

    <p style="text-align:justify">
        <%=get_lang('If desired, this message can be routed to the support team, who will review the reasons for the inconsistency, so that it can be studied one compliance tool (if applicable) and that inconsistencies do not occur anymore.')%>
    </p>

    <span><%=get_lang("More information about the problem (optional):")%></span>

    <div>
        <textarea rows="5" cols="68"></textarea>
    </div>
    
    <span style="font-size:9pt; color:red;">
        <%=get_lang("Attention! The information contained in the message will be sent in full to the support team.")%>
    </span>
</div>