<br><br><br>
<table width='100%' height='100%'>
	<tr><td width="100%" align='center' height="100%" valign="center">
	<div style="background-color:white;height:150px;padding:20px;width:50%;border:1px dashed black"><br>
	<img align="left" src="templates/default/images/manutencao.png" style="margin-right:15px;">
	<br>
	<p style="color:darkblue;text-align:justify;font-size:12px">Caro Usuário, <br><br>O <u>serviço de email</u> do Expresso encontra-se temporariamente indisponível. Por favor, retorne mais tarde.</p>
	<div style="color:darkblue;font-size:12px" align="right"><b>Suporte Expresso Livre</b></div>
	</td></tr>
</table>
<br><br><br>
