  /***************************************************************************\
  * eGroupWare - Contacts Center                                              *
  * http://www.egroupware.org                                                 *
  * Written by:                                                               *
  *  - Raphael Derosso Pereira <raphaelpereira@users.sourceforge.net>         *
  *  sponsored by Thyamad - http://www.thyamad.com                            *
  * ------------------------------------------------------------------------- *
  *  This program is free software; you can redistribute it and/or modify it  *
  *  under the terms of the GNU General Public License as published by the    *
  *  Free Software Foundation; either version 2 of the License, or (at your   *
  *  option) any later version.                                               *
  \***************************************************************************/

.hidden
{
	position: absolute;
	visibility: hidden;
}

.loading
{
	padding: 1px;
	width: 130px;
	height: 36px;
	border: 2px outset #999;
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
	font-style: italic;
	font-family: Verdana;
}
